<table class="table movietable">
    <tr>
        <td><h3>Details for the Address</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Id</td>
        <td>{{address.address_id}}</td>
    </tr>
    <tr>
        <td>City</td>
        <td>{{address.city}}</td>
    </tr>
    <tr>
        <td>Street</td>
        <td>{{address.street}}</td>
    </tr>
    <tr>
        <td>State</td>
        <td>{{address.state}}</td>
    </tr>
    
    <tr>
        <td>Zip Code</td>
        <td>{{address.zip_code}}</td>
    </tr>
    
</table>
<div>
    <a class="btn btn-primary" ui-sref="editAddress({id:address.address_id})">Edit</a>
</div>