<a ui-sref="newAddress" class="btn-primary btn-lg nodecoration">Add New Address</a>
<table class="table movietable">
    <tr>
        <td><h3>All Addresses</h3></td>
        <td></td>
    </tr>
    <tr ng-repeat="address in addresses">
        <!-- <td>{{movie.title}}</td> -->
        <td>{{address.city}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="viewAddress({id:address.address_id})">View</a>
            <a class="btn btn-danger"  ng-click="deleteAddress(address)">Delete</a>
        </td>
    </tr>
</table>