<html>
<head>
    <title>As a service</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <style>
    html,
    body {
        width: 100%;
        height: 100%;
    }
    
    .transparent {
        background: transparent;
        border: 0px;
    }

    a{
        cursor: pointer;
    }
    label{
        font-weight: normal;
    }
    </style>
</head>

<body> 
    <h3 id="type" style="margin:5% 5% 2%">Things you can buy</h3>
    <div style="width:100%">
            <div style="border:1px solid #EFEFEF;margin: 1% 5%;">
                <div style="width:calc(85% - 200px);display:inline-block;margin-left: 2%;margin-top:1%">
                    <p style="font-weight: bold;"><a class="newsTitle" sourceId="{{news['source_Id']}}" date="{{news['date']}}">Things1</a></p>
                    <label style="color: #CABBBB">Description of things1</label>
					<label style="color: #CABBBB;margin-left:3%">time</label>
                    <p>description</p>
                </div>
            </div>
            <form action="/your-server-side-code" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_1zX2sGaxbQYs7Ke0IpcCan3V"
                    data-amount="999"
                    data-name="Demo Site"
                    data-description="Widget"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto">
                </script>
            </form>
            <div style="border:1px solid #EFEFEF;margin: 1% 5%;">
                <div style="width:calc(85% - 200px);display:inline-block;margin-left: 2%;margin-top:1%">
                    <p style="font-weight: bold;"><a class="newsTitle" sourceId="{{news['source_Id']}}" date="{{news['date']}}">Things2</a></p>
                    <label style="color: #CABBBB">Description of things1</label>
                    <label style="color: #CABBBB;margin-left:3%">time</label>
                    <p>description</p>
                </div>
            </div>
            <form action="/your-server-side-code" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_1zX2sGaxbQYs7Ke0IpcCan3V"
                    data-amount="999"
                    data-name="Demo Site"
                    data-description="Widget"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto">
                </script>
            </form>
            <div style="border:1px solid #EFEFEF;margin: 1% 5%;">
                <div style="width:calc(85% - 200px);display:inline-block;margin-left: 2%;margin-top:1%">
                    <p style="font-weight: bold;"><a class="newsTitle" sourceId="{{news['source_Id']}}" date="{{news['date']}}">Things3</a></p>
                    <label style="color: #CABBBB">Description of things1</label>
                    <label style="color: #CABBBB;margin-left:3%">time</label>
                    <p>description</p>
                </div>
            </div>
            <form action="/your-server-side-code" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_1zX2sGaxbQYs7Ke0IpcCan3V"
                    data-amount="999"
                    data-name="Demo Site"
                    data-description="Widget"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto">
                </script>
            </form>
            <div style="border:1px solid #EFEFEF;margin: 1% 5%;">
                <div style="width:calc(85% - 200px);display:inline-block;margin-left: 2%;margin-top:1%">
                    <p style="font-weight: bold;"><a class="newsTitle" sourceId="{{news['source_Id']}}" date="{{news['date']}}">Things4</a></p>
                    <label style="color: #CABBBB">Description of things1</label>
                    <label style="color: #CABBBB;margin-left:3%">time</label>
                    <p>description</p>
                </div>
            </div>
            <form action="/your-server-side-code" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_1zX2sGaxbQYs7Ke0IpcCan3V"
                    data-amount="999"
                    data-name="Demo Site"
                    data-description="Widget"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto">
                </script>
            </form>
            <div style="border:1px solid #EFEFEF;margin: 1% 5%;">
                <div style="width:calc(85% - 200px);display:inline-block;margin-left: 2%;margin-top:1%">
                    <p style="font-weight: bold;"><a class="newsTitle" sourceId="{{news['source_Id']}}" date="{{news['date']}}">Things5</a></p>
                    <label style="color: #CABBBB">Description of things1</label>
                    <label style="color: #CABBBB;margin-left:3%">time</label>
                    <p>description</p>
                </div>
            </div>
            <form action="/your-server-side-code" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_1zX2sGaxbQYs7Ke0IpcCan3V"
                    data-amount="999"
                    data-name="Demo Site"
                    data-description="Widget"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto">
                </script>
            </form>
            <div style="border:1px solid #EFEFEF;margin: 1% 5%;">
                <div style="width:calc(85% - 200px);display:inline-block;margin-left: 2%;margin-top:1%">
                    <p style="font-weight: bold;"><a class="newsTitle" sourceId="{{news['source_Id']}}" date="{{news['date']}}">Things6</a></p>
                    <label style="color: #CABBBB">Description of things1</label>
                    <label style="color: #CABBBB;margin-left:3%">time</label>
                    <p>description</p>
                </div>
            </div>
            <form action="/your-server-side-code" method="POST">
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_1zX2sGaxbQYs7Ke0IpcCan3V"
                    data-amount="999"
                    data-name="Demo Site"
                    data-description="Widget"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto">
                </script>
            </form>
    </div>
    <script type="text/javascript" src="/static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/feed.js"></script>
</body>
</html>
